.top-gradient{
    background: 
    radial-gradient(circle at 20% 20%, rgba(215, 147, 95, 0.5) 0%, 
    rgba(126, 183, 230, 0.05) 30%),
    radial-gradient(circle at 75% 140%, rgba(149, 80, 186, 0.5) 0%, 
    rgba(109, 158, 199, 0) 55%),
    radial-gradient(circle at 40% 20%, rgba(0, 0, 0, 1) 0%, 
    rgba(0, 0, 0, 1) 70%);
}

.analyze-loadingbar{
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, 
    rgba(255, 255, 255, 1) 70%, transparent 100%)
}

.loading-card {
    background-color: #f9fafb;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border-radius: 0.75rem;
    margin-right: 1rem;
    animation: waver infinite 1.5s ease-in-out; 
}

.loading-card-flex {
    background-color: #f9fafb;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border-radius: 0.75rem;
    animation: waver infinite 1.5s ease-in-out; 
}

@keyframes 
waver{
    0%{
        filter: brightness(1);
    }
    50%{
        filter: brightness(0.96);
    }
    100%{
        filter: brightness(1);
    }
}

.card {
    background-image: linear-gradient(to bottom, #ffffffe8, #f9fafbe8);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border-radius: 0.75rem;
    padding: 1.75rem;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.1)
}
  
.card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: linear-gradient(to bottom, var(--gradient-from-color, #ffffff), var(--gradient-to-color, #f9fafb));
}
  
.card:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    box-shadow: 0 4px 6px -1px var(--shadow-color, rgba(0, 0, 0, 0.1)), 0 2px 4px -1px var(--shadow-color, rgba(0, 0, 0, 0.06));
    border-radius: 0.75rem;
}